@model MVCProje_MuratYucedag.Models.Entity.TBLUrunler
@{
    ViewBag.Title = "UrunGuncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.UrunId, new { @class = "text-muted" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.UrunId, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.UrunAd, new { @class = "text-muted" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.UrunKategori, new { @class = "text-muted" })
        </div>
        <div>
            @Html.DropDownListFor(x => x.TBLKategoriler.KategoriId, (List<SelectListItem>)ViewBag.urunler, new { @class="form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.UrunMarka, new { @class = "text-muted" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.UrunMarka, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.UrunFiyat, new { @class = "text-muted" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.UrunFiyat, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.UrunStok, new { @class = "text-muted" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.UrunStok, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Ürün Güncelle</button>
    </div>
}

